html,
body{
	width: 100%;
	height: 100%;
	 font-family: 'Josefin Sans', sans-serif;
}
object,
embed,
video,
iframe,
iframe['style']{
    max-width: 100%;
    height: auto;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
*{box-sizing: border-box;padding: 0;margin: 0;}
label{display: block;}
li{list-style: none;}
a{text-decoration: none;}
.container{float: left; width: 100%;}
.container:after,
.container:before{clear: both;}

.content{width: 92%;margin: 0 3%;}

.sub-title{
	color: #444;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	margin-bottom: 10px;
}
